@import url("./navbar.css");
@import url("./banner.css");
@import url("./responsiv.css");
@import url("./formulaire.css");
@import url("./footer.css");
@import url("./contact.css");
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(blue, rgb(84, 217, 250));
}

.menu {
    background: linear-gradient(180deg, #1e3c72 0%, #2a69ac 100%); 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

.menu > div {
    display: inline-block; 
    margin: 10px; 
    border: 15px black solid;
}

.menu img {
    max-width: 100%; 
    height: auto; 
}

.menu p {
    margin-top: 5px; 
    font-size: 1em; 
    color: #ffffff; }
  