.purchase-section {
  padding: 20px;
  background: var(--degrade-bg-color);
  text-align: center;
  color: var(--pen-color-white);
}

.purchase-form {
  background: var(--pen-color-white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 20px auto;
  width: 90%;
  color: var(--pen-color-black);

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--pen-color-black);
    border-radius: 4px;
    transition: border-color 0.3s;

    &:focus {
      border-color: var(--pen-color-bleue);
      outline: none;
    }
  }

  button {
    background-color: var(--pen-color-marine);
    color: var(--pen-color-white);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;

    &:hover {
      background-color: var(--pen-color-bleue);
      transform: scale(1.05);
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  input[type="checkbox"] {
    margin-right: 8px;
  }

  label {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    white-space: normal;
    word-break: break-word;
  }
}

/* Styles pour le responsive */
@media (max-width: 600px) {
  .purchase-form {
    width: 95%;
    padding: 15px;
  }

  .checkbox-container label {
    font-size: 12px;
  }
}

/* Styles pour le menu hamburger */
.hamburger {
  display: none;
  cursor: pointer;

  @media (max-width: 600px) {
    display: block;
  }
}

.nav-links {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
  }
}

/* Styles pour la popup RGPD */
.popup {
  display: none;
  position: fixed;
  z-index: 1000; /* Assurez-vous que la popup est au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex; /* Utiliser Flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
