.library-section {
    margin-top: 20px;
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    scroll-snap-type: x mandatory;  // Active le scroll-snap horizontal
    -webkit-overflow-scrolling: touch;  // Améliore la fluidité sur mobile
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;  // Chaque item s'arrête au début du conteneur lors du scroll
}

.carousel-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.carousel-item p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--pen-clear-black);
    color: var(--pen-color-white);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;

    // Cacher les boutons sur petits écrans
    @media screen and (max-width: 768px) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        overflow-x: auto;  // Permet le scroll horizontal
        -webkit-overflow-scrolling: touch;  // Assure un scroll fluide sur iOS
    }

    .carousel-item {
        scroll-snap-align: center;  // Center l'élément lors du scroll
    }
}