.navbar {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    background-color: #333; 
    color: white; 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    padding: 10px 15px; /
}

.logo {
    margin-right: 20px; 
}

.logo img {
    max-height: 50px; 
    width: auto; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em; 
    margin: 0;
    padding: 0; 
    padding-left: 10px; 
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s, background-color 0.3s; 
    padding: 5px 8px; 
}

.nav-links a:hover,
.nav-links a:focus { 
    color: #00bcd4; 
    background-color: rgba(0, 188, 212, 0.2); 
    border-radius: 4px; 
}

.hamburger {
    display: none; 
    flex-direction: column;
    gap: 5px; 
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}