:root {
   
    --pen-color-white:white;
    --pen-color-black:rgb(0, 0, 0);
    --pen-color-online:green;
    --pen-color-busy:orange;
    --pen-color-offline:red;
    --shadow-color-white:13px 12px 20px 8px rgb(237 232 232 / 50%);
    --shadow-color-black:0 0 10px rgba(0, 0, 0, 0.5);
    
    --degrade-bg-color:linear-gradient(blue, rgb(84, 217, 250));
    --pen-clear-black:rgba(0, 0, 0, 0.5); 
    --pen-clear-white:rgba(255, 255, 255, 0.9);

}

